@{
    Layout = "_Layout";
    ViewData["Title"] = "Not Found | Lubes";
}

<div class="container product-detail">
    <div class="row title">
        <div class="col">
            <h3>
                Anda Harus Allow Location
            </h3>
        </div>
    </div>
</div>