@{
    Layout = "_Layout";
    ViewData["Title"] = "Home | Lubes";
}

<!-- Page Content -->
<section class="hero-banner">
    <div class="row justify-content-center h-100">
        <div class="col-10 col-md-8 align-self-center">
            <div class="title-hero">
                Selamat Datang di Lubes.id
            </div>
        </div>
    </div>
</section>

<!-- Guide Details -->
<section class="guide-container">
    <div class="row">
        <div class="col-md-6 p-md-3">
            <div class="container guide">
                <div class="title-guide">
                    IDENTIFIKASI BOTOL PELUMAS PERTAMINA
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <img class="badge-guide" src="~/assets/img/badge_01.png" alt="">
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="card-guide d-md-flex align-items-center">
                            <div class="col-md-3 text-center">
                                <img class="img-guide" src="~/assets/img/img_01.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <div class="text-guide ps-md-4">
                                    Botol silver dan merah Pertamina desain ulir : 
                                    terdapat 8 digit nomor batch
                                    dibagian tutup botol dan leher botol, dengan posisi yang lurus, tegak, dan
                                    sejajar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="card-guide d-md-flex align-items-center">
                            <div class="col-md-3 text-center">
                                <img class="img-guide" src="~/assets/img/img_02.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <div class="text-guide ps-md-4">
                                    Botol merah Pertamina desain security : terdapat 8 digit nomor batch dibagian
                                    leher botol, dengan posisi yang lurus dan tegak
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container guide">
                <div class="row mb-4">
                    <div class="col">
                        <img class="badge-guide" src="~/assets/img/badge_02.png" alt="">
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="card-guide d-md-flex align-items-center">
                            <div class="col-md-3 text-center">
                                <img class="img-guide" src="~/assets/img/img_03.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <div class="text-guide ps-md-4">
                                    Dibagian depan stiker botol atau dibagian top drum dibawah gambar QR Code
                                    terdapat kombinasi 9 kode unik yang terdiri dari angka dan huruf (baik huruf
                                    kapital maupun huruf kecil)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container guide">
                <div class="row mb-4">
                    <div class="col">
                        <img class="badge-guide" src="~/assets/img/badge_03.png" alt="">
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="card-guide d-md-flex align-items-center">
                            <div class="col-md-3 text-center">
                                <img class="img-guide" src="~/assets/img/img_04.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <div class="text-guide ps-md-4">
                                    Terdapat tulisan “ORIGINAL” dengan karakter titik yang halus, dan dapat dibaca
                                    pada kemiringan 45º +/- 5º
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="card-guide d-md-flex align-items-center">
                            <div class="col-md-3 text-center">
                                <img class="img-guide" src="~/assets/img/img_05.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <div class="text-guide ps-md-4">
                                    Terdapat tulisan “ORIGINAL” dengan karakter titik yang halus, dan dapat dibaca
                                    pada kemiringan 45º +/- 5º
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container guide">
                <div class="row mb-4">
                    <div class="col">
                        <img class="badge-guide" src="~/assets/img/badge_04.png" alt="">
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="card-guide d-md-flex align-items-center">
                            <div class="col-md-3 text-center">
                                <img class="img-guide" src="~/assets/img/img_06.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <div class="text-guide ps-md-4">
                                    Saat alumunium foil dibuka, tampak warna botol bagian dalam berbeda dengan warna
                                    botol bagian luar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="card-guide d-md-flex align-items-center">
                            <div class="col-md-3 text-center">
                                <img class="img-guide" src="~/assets/img/img_07.png" alt="">
                            </div>
                            <div class="col-md-9">
                                <div class="text-guide ps-md-4">
                                    Saat alumunium foil dibuka, tampak warna botol bagian dalam berbeda dengan warna
                                    botol bagian luar
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-md-3">
            <div class="container guide">
                <div class="title-guide">
                    IDENTIFIKASI CAP SEAL & INCAP DRUM PERTAMINA
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <img class="badge-guide" src="~/assets/img/badge_01a.png" alt="">
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="row card-guide">
                            <div class="col-md-6 text-center px-md-3 mb-3">
                                <img class="img-guide" src="~/assets/img/img_cap_01.png" alt="">
                                <div class="text-guide px-3">
                                    Contoh tampak luar Capseal 2”
                                </div>
                            </div>
                            <div class="col-md-6 text-center px-md-3 mb-3">
                                <img class="img-guide" src="~/assets/img/img_cap_02.png" alt="">
                                <div class="text-guide px-3">
                                    Contoh tampak dalam Capseal 2”
                                </div>
                            </div>
                            <div class="col-md-6 text-center px-md-3 mb-3">
                                <img class="img-guide" src="~/assets/img/img_cap_03.png" alt="">
                                <div class="text-guide px-3">
                                    Contoh tampak luar Capseal 3/4”
                                </div>
                            </div>
                            <div class="col-md-6 text-center px-md-3 mb-3">
                                <img class="img-guide" src="~/assets/img/img_cap_04.png" alt="">
                                <div class="text-guide px-3">
                                    Contoh tampak dalam Capseal 3/4”
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container guide">
                <div class="row mb-4">
                    <div class="col">
                        <img class="badge-guide" src="~/assets/img/badge_02a.png" alt="">
                    </div>
                </div>
                <div class="row mb-2 mb-md-4">
                    <div class="col px-3">
                        <div class="row card-guide">
                            <div class="col-md-6 text-center px-md-3 mb-3">
                                <img class="img-guide" src="~/assets/img/img_cap_05.png" alt="">
                                <div class="text-guide px-3">
                                    Contoh Incap 2”
                                </div>
                            </div>
                            <div class="col-md-6 text-center px-md-3 mb-3">
                                <img class="img-guide" src="~/assets/img/img_cap_06.png" alt="">
                                <div class="text-guide px-3">
                                    Contoh Incap 3/4”
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>