@{
    Layout = "_Layout";
    ViewData["Title"] = "Home | Lubes";
}

<section class="hero-banner">
    <div class="row justify-content-center h-100">
        <div class="col-10 col-md-8 align-self-center">
            <h1 class="title-hero">
                IDENTIFIKASI BOTOL
                <br>PELUMAS PERTAMINA
            </h1>
        </div>
    </div>
</section>

<!-- Guide Details -->
<div class="container guide">
    <div class="row mb-4">
        <div class="col">
            <img class="badge-guide" src="~/assets/img/badge_01.png" alt="">
        </div>
    </div>
    <div class="row mb-2 mb-md-4">
        <div class="col px-3">
            <div class="card-guide d-md-flex align-items-center">
                <div class="col-md-3 text-center">
                    <img class="img-guide" src="~/assets/img/img_01.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="text-guide">
                        Pada botol silver Pertamina terdapat 8 digit nomor batch di bagian tutup botol dan body
                        botol, dengan posisi lurus, tegak dan sejajar.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2 mb-md-4">
        <div class="col px-3">
            <div class="card-guide d-md-flex align-items-center">
                <div class="col-md-3 text-center">
                    <img class="img-guide" src="~/assets/img/img_02.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="text-guide">
                        Pada botol merah Pertamina, 8 digit nomor batch hanya terdapat di bagian body botol, dengan
                        posisi lurus dan tegak.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container guide">
    <div class="row mb-4">
        <div class="col">
            <img class="badge-guide" src="~/assets/img/badge_02.png" alt="">
        </div>
    </div>
    <div class="row mb-2 mb-md-4">
        <div class="col px-3">
            <div class="card-guide d-md-flex align-items-center">
                <div class="col-md-3 text-center">
                    <img class="img-guide" src="~/assets/img/img_03.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="text-guide">
                        Pada botol silver Pertamina terdapat 8 digit nomor batch di bagian tutup botol dan body
                        botol, dengan posisi lurus, tegak dan sejajar.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container guide">
    <div class="row mb-4">
        <div class="col">
            <img class="badge-guide" src="~/assets/img/badge_03.png" alt="">
        </div>
    </div>
    <div class="row mb-2 mb-md-4">
        <div class="col px-3">
            <div class="card-guide d-md-flex align-items-center">
                <div class="col-md-3 text-center">
                    <img class="img-guide" src="~/assets/img/img_04.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="text-guide">
                        Pada botol silver Pertamina terdapat 8 digit nomor batch di bagian tutup botol dan body
                        botol, dengan posisi lurus, tegak dan sejajar.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2 mb-md-4">
        <div class="col px-3">
            <div class="card-guide d-md-flex align-items-center">
                <div class="col-md-3 text-center">
                    <img class="img-guide" src="~/assets/img/img_05.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="text-guide">
                        Pada botol silver Pertamina terdapat 8 digit nomor batch di bagian tutup botol dan body
                        botol, dengan posisi lurus, tegak dan sejajar.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container guide">
    <div class="row mb-4">
        <div class="col">
            <img class="badge-guide" src="~/assets/img/badge_04.png" alt="">
        </div>
    </div>
    <div class="row mb-2 mb-md-4">
        <div class="col px-3">
            <div class="card-guide d-md-flex align-items-center">
                <div class="col-md-3 text-center">
                    <img class="img-guide" src="~/assets/img/img_06.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="text-guide">
                        Pada botol silver Pertamina terdapat 8 digit nomor batch di bagian tutup botol dan body
                        botol, dengan posisi lurus, tegak dan sejajar.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2 mb-md-4">
        <div class="col px-3">
            <div class="card-guide d-md-flex align-items-center">
                <div class="col-md-3 text-center">
                    <img class="img-guide" src="~/assets/img/img_07.png" alt="">
                </div>
                <div class="col-md-9">
                    <div class="text-guide">
                        Pada botol silver Pertamina terdapat 8 digit nomor batch di bagian tutup botol dan body
                        botol, dengan posisi lurus, tegak dan sejajar.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>